<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600" />-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="524288" executionTimeout="120000" />
  </system.web>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=readytemplatestorage8;AccountKey=+0HjuvU60PiJ0XUvK2kWuhg+NM66qDEoamPCSdIPqL6EwugTSsI8Jk4myvmeL3JeYQ2/MGPnHGSc0clHBPzZCQ==;EndpointSuffix=core.windows.net" />
    <add key="ImageContainerName" value="imgreadytemplatestorage8" />
    <add key="JsonContainerName" value="jsonreadytemplatestorage8" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="1073741824" />-->
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
